main{
    display: flex;
    flex-direction: column;
}

.home-container {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

.home-header,
.home-footer {
    padding: 20px;
    background-color: #f2e1c9;
    color: black;
    text-align: center;
}

.home-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: #eeeeca; */
}

.home-main section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    padding: 10px 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    background-color: #cc7722;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.btn:hover {
    background-color: #a5724f;
}

.clock{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
}
.date{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.logs {
    margin-top: 20px;
    padding-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 50px;
    flex-wrap: wrap;
    /* Isso permite que os itens se movam para a próxima linha se não houver espaço suficiente na linha atual */
}

.logs>div {
    margin-bottom: 10px;
    background-color: #f2e1c9;
    margin: 5px 0;
    padding: 5px;
    width: 140px;
    box-sizing: border-box;
    
}

.logs>div:nth-child(odd) {
    background-color: #f5f5dc;
}

.teste{
    max-width: 900px;;
}

@media (min-width: 768px) {
    .logs {
        flex-direction: row;
    }

    .logs>div {
        
        margin: 10px;
    }
}