.registro-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.registro-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.registro-item input[type="time"] {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.registro-header,
.registro-footer {
    padding: 20px;
    background-color: #f2e1c9;
    color: black;
    text-align: center;
}

.registro-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.registros-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 20px;
}

.registros-table th,
.registros-table td {
    border: 1px solid #e0e0e0;
    padding: 8px 15px;
}

th#data {
    text-align: left;
}

.registros-table th {
    background-color: #f2e1c9;
    text-align: center;
}

.registros-table td input[type="time"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

td#botao,
td#hora {
    text-align: center;
}

tbody {
    text-align: center;
}

.registros-table tbody tr:nth-child(even) {
    background-color: #f2e1c9;
}

.registros-table tbody tr:nth-child(odd) {
    background-color: #f5f5dc;
}

.button-table{
    padding: 5px;    
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 5px;    
    border: none;
    background-color: #cc7722;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .registro-main {
        flex-direction: column;
        padding: 10px;
    }

    .registros-table {
        width: 100%;
        font-size: 16px;
    }

    .registros-table th,
    .registros-table td {
        padding: 5px 10px;
    }
    .button-table{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .registros-table {
        font-size: 14px;
    }

    .registro-header,
    .registro-footer {
        padding: 10px;
        font-size: 18px;
    }

    .registro-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .button-table {
        width: 100%;
        height: 100%;
    }
}