.SidebarButton {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #4b2514;
    color: white;
    border: none;
    padding: 20px 15px;
    cursor: pointer;
    z-index: 1000;
}

@media (max-width: 768px) {
    .SidebarButton{
        padding: 5px 5px;
    }
}
@media (max-width: 480px) {
    .SidebarButton{
        padding: 0px 5px;
    }
}

